<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="submitIngredient(frm)" #frm="ngForm">
      <div class="row mb-3">
        <div class="col-sm-5">
          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" name="name" class="form-control" ngModel required #nameField="ngModel" autocomplete="off" />
          @if (nameField.touched && nameField.invalid) { <p class="form-text text-danger">Enter a valid ingredient name!</p> }
        </div>
        <div class="col-sm-2">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" id="amount" name="amount" class="form-control" ngModel required pattern="^[1-9]+[0-9]*$" #amountField="ngModel" />
          @if (amountField.touched && amountField.invalid) { <p class="form-text text-danger">Enter a valid amount!</p> }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xs-12 mt-2">
          <button class="btn btn-primary me-1" type="submit" [disabled]="frm.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
          @if (editMode) { <button class="btn btn-danger me-1" type="button" (click)="deleteIngredient()">Delete</button> }
          <button class="btn btn-secondary" type="button" (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
