<div class="row">
  <div class="col-xs-12">
    <h4>{{ editMode ? "Edit" : "Create" }} Recipe</h4>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-xs-12">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" autocomplete="off" formControlName="name" [ngClass]="isTouchedInvalid('name')" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xs-12">
          <label for="imageUrl">Image Path</label>
          <input type="text" id="imageUrl" name="imageUrl" class="form-control" formControlName="imagePath" [ngClass]="isTouchedInvalid('imagePath')" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xs-12">
          <img [src]="recipeForm.value.imagePath" alt="Recipe Photo" class="img-fluid rounded mx-auto" style="max-height: 100px" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xs-12">
          <label for="description">Description</label>
          <textarea id="description" name="description" class="form-control" rows="6" formControlName="description" [ngClass]="isTouchedInvalid('description')"></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <h5>Ingredients</h5>
          <div class="row mb-1">
            <div class="col-9">Name</div>
            <div class="col-2">Amount</div>
            <div class="col-1">&nbsp;</div>
          </div>
          <div formArrayName="ingredients">
            @for (ingredientCtrlGrp of ingredientCtrlGrps; track ingredientCtrlGrp; let i = $index) {
            <div class="row mb-2" [formGroupName]="i">
              <div class="col-9 pe-1"><input type="text" class="form-control" formControlName="name" [ngClass]="isTouchedInvalid('name', i)" /></div>
              <div class="col-2 px-1"><input type="number" class="form-control" formControlName="amount" [ngClass]="isTouchedInvalid('amount', i)" /></div>
              <div class="col-1 ps-1"><button type="button" class="btn btn-danger">X</button></div>
            </div>
            }
          </div>
          <div class="row">
            <div class="col-12"><button type="button" class="btn btn-success" (click)="addIngredient()">Add Ingredient</button></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 mt-2">
          <button class="btn btn-primary me-1" type="submit" [disabled]="recipeForm.invalid">{{ editMode ? "Edit" : "Create" }}</button>
          <a class="btn btn-secondary" routerLink="../">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
